# Supabase
SUPABASE_URL=https://arrwvshoriodjoovjueq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFycnd2c2hvcmlvZGpvb3ZqdWVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5NDkwNDUsImV4cCI6MjA5NDUyNTA0NX0.zgs1O6I1HAJ4UElRzbZNcd2VmTVrxlRIpMe0GapUT94
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFycnd2c2hvcmlvZGpvb3ZqdWVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODk0OTA0NSwiZXhwIjoyMDk0NTI1MDQ1fQ.rh4VnXa_U-7gytlL2TPj_FNwi5igGQO6fmfJIU-6k7w

# Resend (transactional email)
RESEND_API_KEY=re_i6rMsKdt_CPUu6AhgUtzpfwHaUHdtrS7v

# beehiiv (newsletter)
BEEHIIV_API_KEY=5X4yKXEFOt1vmr2AdblKvLS1BnC90fhH7yL0Qe19g6EcvGdAvDUj60wKhplCzL6z
BEEHIIV_PUBLICATION_ID=pub_2abd7ad7-4fb1-46a0-b07b-2e9b34bcb32c

# Auth
JWT_SECRET=4TzNBmq8shSnm1V92vOBd5JtzmQMh06h6uDLsTXAgZO8x1vB

# App
NEXT_PUBLIC_BASE_URL=https://creatorprogramindex.com/

# Admin
ADMIN_PASSWORD=EFNWy4u5Q!#RhE
